@use '@styleVars' as v;
@use 'sass:color';

.container {
	background-image: url('/pages/whyus/whyus-1.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.additional {
	background-color: color.scale(v.$blue-dark, $alpha: -15%, $lightness: -40%);
}

.block {
	position: relative;
	display: flex;
	gap: 16px;
}

.left,
.right {
	flex: 1;
}

.left {
	position: relative;
	aspect-ratio: 1;
	height: auto;

	img {
		object-fit: cover;
	}
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 32px;

		h1 {
			font-size: 24px;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 16px;

			li {
				position: relative;
				display: flex;
				gap: 2ch;
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.left {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.right .content h1 {
		font-size: 20px;
	}
}
