@use '../../../../app/vars' as *;

.servicesGrid {
	display: grid;
	grid-template-columns: 1fr;

	gap: 2rem;
	margin-bottom: 2.5rem;

	@media (min-width: $breakpoint-tablet) {
		grid-template-columns: 1fr 1fr;
	}
	@media (min-width: $breakpoint-large) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.serviceCard {
	padding: 2rem;
}

.cardContent {
	position: relative;
	height: max-content;
	min-height: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.iconWrap {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.cardTitle {
	font-size: 1.25rem;
	margin-bottom: 1ch;
}

.cardDescription {
	color: $neutral-medium;
	font-size: 1rem;
	margin-bottom: 1.5ch;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;

	@media (min-width: $breakpoint-tablet) {
		min-height: 4.5rem;
	}
}

.features {
	margin-bottom: 1.25rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
