@use '@styleVars' as v;
@use 'sass:color';

.container {
	background-color: v.$gray-xlight;
}

.block {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.top {
	position: relative;
	display: flex;
	gap: 16px;
	.title {
		display: flex;
		flex-direction: column;
		gap: 16px;
		flex: 1;
		h1 {
			font-size: 24px;
		}
	}

	.description {
		flex: 1;
		padding: 24px 32px;
		background-color: v.$blue-dark;
		font-size: 16px;
		strong {
			text-decoration: underline;
			text-decoration-thickness: 1px;
		}
	}
}

.servicesContainer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.25em 0.25em 0.25em 0.25em;
	overflow: hidden;
}

.servicesList {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5em;
	overflow-x: auto;
	overflow-y: hidden;

	&::-webkit-scrollbar {
		display: none;
	}

	@media screen and (min-width: 768px) {
		scroll-snap-type: x mandatory;
		gap: 1em;
	}
}

.navBtn {
	display: none;
	position: absolute;
	background-color: rgba(v.$blue-dark, 0.8);
	backdrop-filter: blur(2px);
	color: v.$white;
	border: none;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	padding: 1em;
	outline: none;
	cursor: pointer;

	&:hover {
		background-color: color.scale(v.$blue-dark, $lightness: -10%);
	}

	&:active {
		background-color: color.scale(v.$blue-dark, $lightness: -20%);
	}

	svg {
		aspect-ratio: 1;
		font-size: 1.25em;
	}

	&.prev {
		left: 2em;
		transform: translateX(-50%);
	}

	&.next {
		right: 2em;
		transform: translateX(50%);
	}

	@media screen and (min-width: 768px) {
		display: flex;
	}
}

.serviceCard {
	position: relative;
	min-width: 25em;
	max-width: 25em;
	background: v.$white;
	border-radius: 0.25em;
	box-shadow: 0 0.25em 1.5em rgba(23, 39, 67, 0.08);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	cursor: pointer;
	font-size: 0.75em;

	@media screen and (min-width: 768px) {
		font-size: 0.85em;
	}

	@media screen and (min-width: 968px) {
		font-size: 1em;
	}

	&:hover {
		box-shadow: 0 0.75em 2.25em rgba(23, 39, 67, 0.12);
	}

	.serviceImageContainer {
		position: relative;
		width: 100%;
		height: 15em;

		display: flex;
		justify-content: center;
		align-items: center;

		overflow: hidden;
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;
		background: v.$gray-xlight;
	}

	.serviceImage {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.serviceContent {
		width: 100%;
		padding: 1.25em 1em 1.5em 1em;
		text-align: center;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1em;
	}

	.serviceTitle {
		color: v.$blue-dark;
		font-size: 1.15em;
		margin: 0 0 0.5em 0;
		min-height: 2.5em;
		font-weight: v.$font-bold;
	}

	.serviceDescription {
		color: v.$gray-medium;
		font-size: 1em;
		margin: 0;
		line-height: 1.5;
		font-weight: v.$font-thin;
	}

	.serviceLink {
	}
}

@media screen and (max-width: 600px) {
	.top {
		flex-direction: column;
		gap: 16px;

		.title h1 {
			font-size: 20px;
		}
	}
}
