$blue-dark: #0e2b5c;
$orange: #ff5e14;
$white: #ffffff;
$gray-xlight: #f5f5f5;
$gray-light: #aaaaaa;
$gray-medium: #4b4b4b;
$gray-dark: #333333;
$color-success: #6fae8a;
$color-warning: #ffcc80;
$color-error: #e05c5c;
$color-info: #80bfff;
$font-regular: 400;
$font-thin: 300;
$font-semibold: 600;
$font-bold: 700;
