@use '@styleVars' as v;
@use 'sass:color';

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-color: white;
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: v.$gray-xlight;
	}

	&::-webkit-scrollbar-thumb {
		background-color: v.$gray-light;
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: v.$gray-medium;
	}
}

body {
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: v.$gray-xlight;
		border-radius: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: color.mix(v.$orange, v.$blue-dark, 80%);
		border-radius: 8px;
		transition: background-color 0.3s;

		&:hover {
			background-color: v.$orange;
		}
	}
}

p {
	line-height: 1.5;
}
