@use '@styleVars' as v;

.container {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: rgba(v.$blue-dark, 0.9);
	backdrop-filter: blur(3px);
}

.box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}

.logo {
	height: 40px;
	width: max-content;
}

.nav {
	position: relative;
	display: flex;
	align-items: center;
	gap: 24px;
	&:hover > :not(:hover) {
		opacity: 0.6;
	}
}

.menuWrapper {
	display: none;
	position: relative;
	cursor: pointer;

	.menu {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: v.$white;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 8px 16px;
		z-index: 10;

		.menu_item {
			display: flex;
			align-items: center;
			gap: 16px;
			padding: 8px 16px;
			cursor: pointer;
			border-bottom: 1px solid transparent;
			transition: border-bottom 0.3s ease;

			&:hover {
				border-bottom: 1px solid v.$blue-dark;
			}

			span {
				white-space: nowrap;
				color: v.$gray-dark;
				font-size: 14px;
			}
		}
	}

	&:hover .menu {
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.nav {
		display: none;
	}

	.menuWrapper {
		display: block;
	}
}
