@use '@styleVars' as v;

.nav {
	position: relative;
	display: flex;
	gap: 120px;

	@media screen and (max-width: 1000px) {
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 40px;
	}
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;

	* {
		text-wrap: nowrap;
	}
}

.sublist {
	&.socialList {
		display: flex;
		justify-content: center;
		gap: 16px;
	}

	&.linkList {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.linkItem {
	position: relative;
	display: flex;

	.linkText {
		width: 100%;
		padding: 4px 0;
		color: v.$gray-light;
		transition: color 0.3s ease, transform 0.3s ease;
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background-color: v.$orange;
			transition: width 0.3s ease;
		}

		&:hover {
			color: v.$gray-xlight;
			transform: translateX(4px);

			&::before {
				width: 100%;
			}

			span {
				opacity: 1;
			}
		}

		span {
			position: relative;
			transition: opacity 0.3s ease;
			opacity: 0.8;
		}
	}
}

.social {
	position: relative;
	display: flex;
	gap: 24px;

	.socialLink {
		display: flex;
		width: max-content;
		padding: 0;

		img,
		svg {
			width: 24px;
			transition: transform 0.3s ease-out;
		}

		&:hover {
			background-color: transparent;
			box-shadow: none;
			transform: none;

			&::before {
				left: -100%;
			}

			img,
			svg {
				transform: rotate(15deg) scale(1.2);
			}
		}
	}
}
