@use '@styleVars' as v;

.container {
	background-color: v.$blue-dark;
}

.box {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

.details {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 1000px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
	}

	@media screen and (max-width: 600px) {
		align-items: center;
	}
}

.map {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media screen and (max-width: 600px) {
		img {
			aspect-ratio: 2/1;
		}
	}
}

.copyright {
	font-size: 12px;
	text-align: center;
}
